
.backDrop{
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color:rgb(16 13 13);
    opacity: .5;
    z-index: 1500;
}
.overlay{
    z-index: 2000;
    position:absolute;
    height: 832px;
    width: 42%;
    background-color: #f8f8f8;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px solid;
    border-color: #055b60;
    display: flex;
    flex-direction: column;
    align-items: center;
     gap: 13px;

}


/*overlay candidate*/
.overlay_delete{
    width: 439px;
    height: 221px;
    border-radius: 10px;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}
.Overlayer_delete_icon{
    width: 54px;
    height: 54px;
    color: #055b60;
}
.yes_button{
    background-color: #055b60;
    border-radius: 10px;
    width: 98px;
    height: 46px;
    color: white;
    font-family: "Inter-Regulr", Helvetica;
    font-size: 24px;
    font-weight: 400;
}
.p_delete{
    color:black;
    font-family: "Inter-Regulr", Helvetica;
    font-weight: 400;
    font-size: 20px;
}

/*end of overlay candidate*/
.edit{
    display: flex;
    margin: 0 auto;
    gap:24px;
    align-items: center;
    height: 36px;
    margin-top: 57px;
    
}
.edit_i_pop{
    color: #055b60 ;
    font-size: 36px;
}
.edit_h_pop{
    color: #055b60;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    


}

.img_edit_pop{
    width: 235px;
    height: 228px;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom:67px ;
}
.close_pop{
    font-size: 3rem;
    position: absolute;
    right: 20px;
    top:20px;
    border: none;
    background-color:#f8f8f8;
    color: #4b4949;
    font-weight: bold;
}

.edit_buuton{
    background-color: #055b60;
    width:50%;
    border-radius: 10px;
    height: 63px;
    color: white;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-top: 48px;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;    
}
/*event*/
.overlayer_event{
    height: 435px;
}
.form_continer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs_continer{
    display: flex !important;
    flex-direction: column;
    width: 469px;
    gap: 10px;
}
.input{
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    height: 74px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
    line-height: normal;
    color: #4b4949;
    padding-left: 20px;
}
.input_ar{
    direction: rtl;
    padding-right: 20px;
}
.img_candidate_file{
    height: 994px;
    width: 760px;
    position: relative;

}
 .img_file{
    position: absolute;
    object-fit: cover;
    height: 920px;
    max-width: 100%;
}
.error_message{
    color: red;
    font-size: 24px;
    
}
@media (min-width:1441px) and (max-width: 1536px) {
    .overlay{
        height: 628px;
        width: 35%;
    }
    .overlay_add{
        height: 702px
        !important;
    }
    .img_edit_pop{
        margin-top: 2px;
        margin-bottom: 1px;
    }
    .img_add_admin{
        width: 205px;
        height: 186px;
        }
    .input{
        height: 60px;
    
    
    }
    .edit_buuton{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .overlay_delete{
        /* width: 439px; */
        height: 220px;
    }
    .p_delete{
        font-size: 25px;
    }
}
@media (min-width:1024px) and (max-width: 1439px) {
    .overlay{
        height: 628px;
        width: 40%;
    }
    .overlay_add{
        height: 580x
        !important;
    }
    .img_edit_pop{
        margin-top: 2px;
        margin-bottom: 1px;
    }
    .img_add_admin{
        width: 205px;
        height: 186px;
        }
    .input{
        height: 60px;
    
    
    }
    .edit_buuton{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .overlay_delete{
        /* width: 439px; */
        height: 220px;
    }
    .p_delete{
        font-size: 22px;
    }
    .yes_button {
        
        width: 92px;
        height: 42px;
        
        font-size: 22px;
        
    }
}