
*{
    margin:0;
    padding:0;
    text-decoration: none;
}

  
.container{
    display:flex;
    /* position: relative; */
    /* justify-content: space-between; */
    /* height: auto; */
}
.en_main{
    width: 93.7%;
    height: 100%;
     
    /* position: relative; */
    /* padding: 30px; */
    /* padding-left: 67px; */
    margin-left: 6.37%;
    /* margin-left: 5%; */
    /* padding-top: 20px; */
    /* margin-top: 20px; */
}
.ar_main{
    margin-right: 6.37% !important;
    width: 93.7%;
    height: 100%;
    /* transform: rotate(360deg); */
}

                                                 /* side bar */
.sidebar{
    background: #065C61;
    color: white;
    height: 1024px;
    /* max-height: 100%; */
    /* height: auto; */
    width: 304px;
    /* width: 6.73%; */
    /* height: 100%; */
    /* max-height: 100%; */
    border-radius: 0px 20px 20px 0px;
    transition: all 0.5s;
    position: absolute;
    z-index: 1000;
}
.arsidebar{
    border-radius: 20px 0px 0px 20px;
    position: fixed; 
    right: 0;
    top: 0; 
    z-index: 1000;


}
.top_section{
    display: flex;
    flex-direction: column;
    /* justify-content:start; */
    align-items: center;
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    /* flex-direction: column; */
    /* padding:20px 50px; */
    justify-content: center;
    
    width: 254px;
    height: 207px;
    /* background-color: black; */
    /* margin-bottom: 48px; */
    margin-top: 14px;
    margin-right: 5px;
    margin-left: 5px;
 
    
}.name{
    font-weight:600;
    text-transform: capitalize;
    position: absolute;
    left: 30%;
    padding-top: 17px;
    margin-bottom: 49px;
}
hr{
   
   border:1px solid #fff;
   margin: 0 auto;
   width: 80%;
   margin-bottom: 49px;

}


.logo{
    font-size: 30px;
}
.bars{
    display: flex;
   font-size: 24px;
    /* margin-left: 60px; */
    position: absolute;
    /* margin-right: 20px; */
    top: 21px;
    right: 22px;

}
.bars_ar{
display: flex;
position: absolute;
font-size: 24px;
top:21px ;
left: 22px ;

}



.link{
    display: flex;
    color: white;
    /* padding-left: 9px;
    padding-right: 60px; */
    /* margin-left: 80px; */
    
    margin-bottom: 16px;
    text-decoration: none;
     padding:10px;
     gap: 30px;
    /* align-items:flex-start;
    justify-content: center; */
    /* justify-content:center; */
    /* text-align: center; */
     /* justify-content: center;   */
   /* transition: 0.5s; */

}

/* .link:hover{
    background:#D5E5DE;
    color: #065C61;
    transition: all 0.5s;
} */
.active{
    background:white;
    /* color: white; */
    border-radius: 0px 15px 15px 0px;
     width: 1px;
     /* height: 24px; */
}





.icon{
    font-size: 26px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: end; */
}
.link_text{
font-size: 23px;

}
/* .info-admin{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    /* justify-content: center; */
      /* width: 254px;
      height: 207px; */
       /* padding: 15px; */
/* }  */

.iconOfSide{
    display: block;

}
                                                            /*end side bar */
 .header{
    background-color:#fff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 92px;
     display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 1367px; */
    position: relative;
} 
.iconsH{
    position: absolute;
    right: 5%;
    display: flex;
    gap: 23px;
  
  
    
}
.header_icon{
    font-size: 36px;
    border: none;
    background-color: #fff;
    color: #4B4A4A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    cursor: pointer;
}
.lang{
    font-size: 26px;
    font-weight: 500;

}
.title{
    color: #055b60!important;
    font-family: "Inter-Bold", Helvetica;
    font-size: 32px !important;
    font-weight: 700;
    text-transform: capitalize;
    position: absolute;
    left: 5%;
    
  }

.continer_table {
    background-color: white;
    border: 1px solid #C7C7C7;
    border-radius: 10px;
    width: 90%;
    height: 780px;
    max-width: 100%;
    /* margin: 43px 70px 65px  47px  ; */
    margin-top:31px !important;
    margin: 0 auto;
    border-collapse: collapse;
    padding:20x;
    position:relative;
    overflow: auto;

  
    
  
}
.rotate_y{
    transform: rotatey(180deg); 
}
table{
width: 100%;
height: 86%;
padding:3%;

}
.continer_table td {
    border-bottom: 1px solid #C7C7C7;
    color: #4B4A4A;
    text-align: center;
    padding: 1.25rem;/*20px*/
    font-family: "Inter-Regular", Helvetica;
    font-size:1.6rem ;/*25px*/
    font-weight: 400;

    
   
}


/* .continer_table div {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    
} */
    /* width: 70px; */

.add{
    background-color: #055b60;
    border-radius: 10px;
    color: #fff;
    height: 70px;
    width: 70px;
    font-size: 35px;
    font-weight: 400;
    position:absolute;
    right: 9%;
    bottom: 2%;
}
.ar_add{
    position: absolute!important;
    right: 206px!important;
}
.continer_button_admin{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.delete_icon{
    background-color: #ff4265;
    
}
.edit_icon{
    background-color: #055b60;
    margin-right: 24px;
}

.delete_edit_ic{
    border-radius: 10px;
    width: 45px;
    height: 45px;
    font-size: 24px;
    color: #fff;
    
    
    /* padding: 10px ; */
}

/* request */
.btn_show {
    margin-left: 0px !important;
}
/*end request*/


/*candidate data page */
.img_name{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   align-items: center;
   margin-top: 33px;
}
.name_candidate{
color:  #4B4A4A;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.candidateData_continer_table{
    border-color: #027146;
  border-radius: 10px;
  height: 615px;
  margin-top: 2% !important;
  margin-bottom: 2% !important;
  
}
 .candidateData_table{
padding: 0%;
}
.header_candidateData_table{
    color: #055b60;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 1px solid #027146 !important;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 11%;
    text-align:start;
}
.header_candidateData_table_ar{
    text-align: end !important;
    padding-right: 11% !important;
}
.padding_left{
    padding-left: 18% !important;
}

.candidate_data_td{
    text-align: start !important;
    padding-left: 4% !important;
}
.candidate_data_td_ar{
    text-align: end !important ;
    padding-right: 7% !important;
}
.file{
    background-color: #33af7f14;
    border-radius: 10px;
   padding: 14px;
   width: 260px;
   font-size: 21px;
  border: none;
  display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: start;
}

.candidateData_button{
    margin-left: 0px !important;
}
.container_button{
    display: flex;
    flex-direction: row;
    justify-content: end;
     gap: 10px;
     margin-right: 9%;

    
}
.Reject_button {
   background-color: #fff !important;
   color: #055b60 !important;
}
.flex{
    display: flex;
    gap:5px;
}
/*End Candidate Data page*/


/*request page*/

.candidate_img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    /* border-radius: 0.5px; */
    /* font-size:35px; */

}
.img_dashboard{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
/* *********************************************** Dashboard *********************************/

.for_dashboard{
    display: flex;
    flex-direction: column;
    gap: 48px;
    height: 199px !important;
    width:  300px ;
    align-items: center;
    justify-content: center;
    background-color: #33af7f14 !important;
    margin-bottom: 0px !important;
  }

  .dashboard{
    flex-wrap:nowrap !important; 
    padding-left: 0px !important;
    
  }

  .dash{
    margin-top: 78px !important;
    /* padding-left: 5px !important; */
    margin-left: 28px;

  }

  .card_title{
    font-size: 23px !important;
  }
  .number_of_candidates{
   gap:16px !important;
   padding-top: 0px !important;
   display: flex;
  flex-direction: row;
   
  }
  .icon_of_can{
    font-size: 26px;
    color: #055b60;
}
/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(79, 77, 77, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  
  .overlay img {
    max-width: 100%;
    max-height: 100%;
  }
   */
   .p_dashboard{
    color: #000000;
   font-family: "Inter-SemiBold", Helvetica;
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 0;
   line-height: normal;
   margin-top: 34px;
   }
   .p_dashboard_ar{
   text-align: end;
   margin-right: 2.7rem;
   }
   
   .continer_table_dashboard{
    height: 467px;
    margin: 0px!important;
    border-color: #055b60;
    border-radius: 10px;
    width: 97%;
    margin-top: 30px !important;
   }
   .th_dashboard{
    color: #064145;
    font-family: "Inter-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 1.6rem;
   }
   @media (min-width: 600px) and (max-width: 768px) {
    html{
        font-size: 10px;
    }
    .en_main{
     margin-left: 12.37%;
     background-color: #ff4265;
    }
    .delete_edit_ic {
        width: 44px !important ;
        height: 44px !important;

    }
    .add{
        /* bottom: -36%; */
    }
   }